<h1>Actvities</h1>
<div class="highest-voted"><h2>Highest Voted Activity</h2>
    <!-- Mat have to do a safety check regarding here to ensure the currently displayed highest-voted-activity actually exists [and hasn't been deleted] -->
    <b style="color:yellow;">{{highestVotedActivityOutput.name}}</b>
    <b style="color:yellow;">{{highestVotedActivityOutput.description}}</b>
    <b style="color:yellow;">{{highestVotedActivityOutput.votes}}</b>
</div> 

<ul>
  <li *ngFor="let activity of activitiesService.activities; let i = index">
    <div class="activity">
      {{i + 1}}: {{activity.name}} , {{activity.description}}, votes: {{activity.votes}}
    </div> 
    <button (click)="increaseVotes(activity)">Vote^</button>
    <button (click)="deleteActivity(activity)">X</button>
  </li>
</ul>


